/*Styles for whole document*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Styles for body*/
body {
    background-color: #d9dcd6;
}

/*Style for links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Styles for paragraph*/
p {
    font-size: 16px;
}

/*To align nav links to the right*/
ul, li {
    text-align: right;
}

/*Styles for header class*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Style for page title*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*To make 'SEO' portion of title grey on blue background, because semantic HTML <mark> element highlights in yellow*/
.seo {
    background-color:#2a607c;
    color: #d9dcd6;
}

/*Styles for Hhader section*/
.header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

/*Styles for main hero image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    position: center;
}

/*to float images in main section left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*to float middle image in main section right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*set main content width and display type*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Set main content sections positioning, font, colours*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Set main content image height*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Set main content header positions and font size*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Set aside content positioning, font, colours*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets margins and font colours for aside sections*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets margins and alignment for headers within aside*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets display for aside images*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*sets footer styles*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*set fooder heading text size*/
.footer h2 {
    font-size: 20px;
}
